* {
    box-sizing: border-box;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(165deg, rgba(2,0,36,1) 25%, rgba(41,20,91,1) 47%, rgb(25, 180, 211) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
}

.container {
    width: 80%;
    height: 80%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 20px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.container::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: inset 0 0 2000px rgba(131, 125, 172, 0.568);
    filter: blur(10px);
    margin: -20px;
   
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    
}

li {
    margin: 0 15px;
    display: flex;
    align-items: center;
}

.active {
    background-color: rgb(161, 45, 76);
    padding: 0px 15px;
    border-radius: 75px;
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    height: 100%;
    color: white;
   
}

svg {
    margin: 15px 20px;
}


.content {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    
}

.content-left {
    width: 100%;
    /*height: 100%;*/
    text-align: left;
    padding: 0 30px;
    align-items: center;
    margin-top: -350px;
}

.content-right {
    width: 100%;
    /*height: 100%;*/
    text-align: right;
    padding: 0px 50px;
    align-items: center;
    margin-top: 200px;
}

h1,h3 {
    margin: 0;
}

h1 {
    font-size: 40px;
}

img {
    position: absolute;
    width: 30%;
    /*centralizar:*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    animation: move 1s infinite alternate;
    -webkit-animation: move 2s infinite alternate;
}

@keyframes move {
    from { transform: translate(-50%, -60%) rotate(-20deg);
    }    
}

@-webkit-keyframes move {
    from {
        transform: translate(-50%, -55%) rotate(-25deg);
    }
}